<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<PreserveLogFileNameExtension value="true" />
			<file value="E:\\Logs\\VicToWinTeamAndTotalServiceUAT\\" />
			<datePattern value="'VicToWinTeamAndTotalServiceUATConsoleApp_log_'yyyy-MM-dd'.txt'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="200000KB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		
		<add key="vicTestTokenUrl" value="https://api.no.stage.vic.ai/v0/token" />
		<add key="vicTestUATTokenUrl" value="https://api.us.vic.ai/v0/token" />
		
		<!--credentials for winteam TEST-->
		<add key="client_id_winteam" value="eAQ5wVgA6mn4GMZZ1y6gpMGFZZyC4xXo" />
		<add key="client_secret_winteam" value="iUeSTAUYS6CXtzXin2db9NWSW1Q4zC1fRxvNKsyjnQE9Ks3Brf2i5RRxCDAbhEwv" />

		<!--credentials for winteam test UAT-->
		<add key="client_id_test_winteam_UAT" value="ySHRUyoyDErMt4jMMARnLZ289rqrZpBk" />
		<add key="client_secret_test_winteam_UAT" value="9NPduuWmUEasTcbDf2NSnqwJDKes769eLmfKRUa52mX3k2GsW1aHdEWDcK1bHdxE" />

		<!--credentials for winteam production UAT-->
		<add key="client_id_test_winteam_UAT_Production" value="FDBEThYJpDLEkNCn9QJRUZuFrz9XNBLK" />
		<add key="client_secret_test_winteam_UAT_Production" value="aaSdUJqCX2x2JbWATDA9FoYKeoN8J9rHbHBQ1pBCo7TLkZpNF9xTwchQSsSaBefA" />

		<!--credentials for total service TEST-->
		<add key="client_id_total_service" value="ZApHLfZGqBonLTKKE7zfBgJr5fTZGhNS" />
		<add key="client_secret_total_service" value="v114TaQa4iw4rcraFwrDehHEfwHaYh5huwxDKq6gUPLmo91xJCAcmQaWEQDmWQBn" />

		<!--credentials for total service UAT-->
		<add key="client_id_total_service_UAT" value="GmJ3fcf686nT6rgWsscrVAiGPMm7o7Y6" />
		<add key="client_secret_total_service_UAT" value="GNB7M9qvb24QjCHq3JAccNHjXBpaviuz15ix6A61TQgJU4zrDvFAwzZuxAM2yiRQ" />

		<!--credentials for total service production-->
		<add key="client_id_total_service_production" value="TT2yyMDnR5zchAX576Maf6zGt8WySAuS" />
		<add key="client_secret_total_service_production" value="SmDUEZdYGZ1MqVBMZqQpL2dk3nSHxwpdDUaptgLmTv2TmkEwDaAEaqKmoiSue8BG" />


		<add key="vicBaseAddress" value="https://api.no.stage.vic.ai/v0/" />
		<add key="baseAddressForUAT" value="https://api.us.vic.ai/v0/" />
		
		<add key="vicVendorSubUrl" value="vendors/" />
		<add key="vicJobSubUrl" value="dimensions/" />
		<add key="vicGLSubUrl" value="accounts/" />
		<add key="vicPOSubUrl" value="purchaseOrders" />
		
		<add key="vicVendorTags" value="vendorTags"/>
		<add key="vicVendorTagAdd" value="tags"/>
		
		<add key="vicInvoiceReadyToPostUrl" value="invoices?state=READY_FOR_POST" />
		<add key="vicInvoiceConfirmUrl" value="invoices/" />
		
		<add key="winTeamBaseAddress" value="https://apim.myteamsoftware.com/WinTeam/" />
		<add key="vendorSubUrl" value="Accounting/v2/api/Vendors" />
		<add key="jobSubUrl" value="Jobs/v4/api/Jobs" />
		<add key="invoiceUrl" value="Accounting/v2/api/Accounting" />
		<add key="glUrl" value="Accounting/v2/api/GeneralLedgers/" />
		
		
		<add key="tenantId" value="5B0512FE-0F77-4EDA-AD72-17DBCEB91DE7" />
		<!--<add key="testTenantId" value="6A038A1E-7FBA-4D7B-9E8A-0471D0416F23"/>-->
		
		<add key="subscriptionkeyForJob" value="95521c2b33f644c8a83ed251990157d7" />
		<add key="subscriptionkeyForVendor" value="fac3ace2ac3244ae99504fd15c11b182" />

		<add key="glFilePath" value="GL_File" />
		<add key="countryCodeFilePath" value="Country Code" />

		<add key="winTeamSource" value="WinTeam PROD" />
		<add key="totalServiceSource" value="Total Service TEST" />

		<!--destination environment-->
		<add key="testEnv" value="Vic.Ai TEST" />
		<add key="uatEnv" value="Vic.Ai UAT" />
		<add key="prodEnv" value="Vic.Ai PROD" />
		
		<add key="test" value="TEST" />
		<add key="prod" value="PROD" />

		<add key="poItemDescriptionLength" value="255"/>
		
		<!--archive folder for gl account file-->
		<add key="archiveFolderPath" value="D:\Titan Projects\WinTeamToVic_ConsoleApp\WinTeamToVic_ConsoleApp\bin\Debug\Archive\"/>
	</appSettings>
	<connectionStrings>
		
		<add name="totalServiceConnStr" connectionString="Data Source=172.183.86.19,1433;Initial Catalog=TITAN10;User ID=titanuser;Password=T!tan616$;" providerName="System.Data.SqlClient" />
		
		<add name="sqlConnStr" connectionString="Data Source=DESKTOP-ITML2SK\SQLEXPRESS;Initial Catalog=TITANQLMaster;Trusted_Connection = True; MultipleActiveResultSets = true;" />
		
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>